@using AutoParts_ShopAndForum.Core.Models.ProductCategory

@model ProductCategoryModel[]

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>
        @ViewData["Title"]
    </h1>
</div>

@{
    var rowsCount = (int)Math.Ceiling((double)Model.Length / 3);
    var pointer = 0;
}

<div class="container">
    @for (int i = 0; i < rowsCount; i++)
    {
        <div class="row mb-4">
            @for (int j = pointer; j < Model.Length; j++)
            {
                <div class="col-sm-4">
                    <div class="box box-1">
                        <img src="@(Model[pointer].ImageUrl)" class="cat_img_icon" />
                    </div>

                    <div class="box box-2" style="align-content:center">
                        <a asp-controller="Product" asp-action="All" asp-route-categoryId="@Model[pointer].Id" class="btn btn-warning">@(Model[pointer].Name)</a>
                    </div>
                </div>

                if (++pointer % 3 == 0)
                    break;
            }
        </div>
    }
</div>
