<div class="container mt-4">
	<h4>Available Staff</h4>
	<div id="availableUsers">
	</div>
</div>

<div class="chat-popup" id="chatPopup">
	<div class="chat-header" id="chatWith"></div>
	<div class="chat-messages" id="chatMessages"></div>
	<div class="chat-input">
		<input type="text" id="messageInput" placeholder="Type a message..." />
		<button id="sendBtn" class="btn btn-primary btn-sm">Send</button>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.0/signalr.min.js"></script>

@section Scripts
{
	<script>
		const currentUserId = '@(User.Identity.IsAuthenticated ? User.GetId() : "-1")';
		let currentChatUserId = null;

		const connection = new signalR.HubConnectionBuilder()
			.withUrl("/chatHub")
			.build();

		connection.on("UpdateUserList", function (availableUsers) {
			const container = $("#availableUsers");

			container.empty();

			availableUsers.forEach(userId => {
				if (userId === currentUserId) return;

				const userDiv = $(`<div class='user' data-username='${userId}'>${userId}</div>`);

				userDiv.on("dblclick", function () {
					startChat(userId);
				});

				container.append(userDiv);
			});
		});

		function startChat(userId) {
			currentChatUserId = userId;

			$("#chatWith").text(`Chat with ${userId}`);
			$("#chatMessages").empty();
			$("#chatPopup").fadeIn();

			connection.invoke("StartPrivateChat", userId).catch(err => console.error(err.toString()));
		}

		$("#sendBtn").on("click", function () {
			const message = $("#messageInput").val().trim();

			if (!message || !currentChatUserId) return;

			const messageBox = $("#chatMessages");

			messageBox.append(`<div class="message you"><strong>You:</strong> ${message}</div>`);
			messageBox.scrollTop(messageBox[0].scrollHeight);

			connection.invoke("SendPrivateMessage", currentUserId, currentChatUserId, message).catch(err => console.error(err.toString()));
			
			$("#messageInput").val('');
		});

		connection.on("ReceivePrivateMessage", function (fromUser, message) {
			console.log("Message received: " + message + " | From " + fromUser)
			
			const messageBox = $("#chatMessages");

			messageBox.append(`<div class="message other"><strong>${fromUser}:</strong> ${message}</div>`);
			messageBox.scrollTop(messageBox[0].scrollHeight);
		});

		console.log("Connection start called");

		connection.start().catch(err => console.error(err.toString()));
	</script>
}



