@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*.navbar {
    display: inline-flex
}
*/
.pagination {
    margin-top:0px;
    margin-bottom:0px;
}

.pagination .page-item .page-link {
    color: #333;
    border: none;
    width: 40px;
    text-align: center;
}

.pagination .page-item.active .page-link {
    background-color: #fff;
    border: 1px solid #333
}

#filterbar {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
}

    #filterbar input[type="radio"] {
        visibility: hidden
    }

        #filterbar input[type='radio']:checked {
            background-color: #16c79a;
            border: none
        }

    #filterbar .btn.btn-success {
        background-color: #ddd;
        color: #333;
        border: none;
    }

        #filterbar .btn.btn-success:hover {
            background-color: #aff1e1;
            color: #444
        }

    #filterbar .btn-success:not(:disabled):not(.disabled).active, #filterbar .btn-success:not(:disabled):not(.disabled):active {
        background-color: #16c79a;
        color: #fff
    }

label {
    cursor: pointer
}

.box {
    padding: 10px
}

.box-label {
    color: #11698e;
    font-size: 0.9rem;
    font-weight: 800
}

#inner-box, #inner-box2 {
    height: 150px;
    overflow-y: scroll
}

#inner-box2 {
    height: 132px
}

    #inner-box::-webkit-scrollbar, #inner-box2::-webkit-scrollbar {
        width: 6px
    }

    #inner-box::-webkit-scrollbar-track, #inner-box2::-webkit-scrollbar-track {
        background-color: #ddd;
        border-radius: 2px
    }

    #inner-box::-webkit-scrollbar-thumb, #inner-box2::-webkit-scrollbar-thumb {
        background-color: #333;
        border-radius: 2px
    }

#price {
    height: 45px
}

#size input[type="checkbox"] {
    visibility: hidden
}

#size label {
    margin: 10px;
    margin-left: 0px
}

.card {
    padding: 10px;
    cursor: pointer;
    transition: .3s all ease-in-out;
    height: 350px
}

    .card:hover {
        box-shadow: 2px 2px 15px #fd9a6ce5;
        transform: scale(1.02)
    }

    .card .product-name {
        font-weight: 600
    }

.card-body {
    padding-bottom: 0
}

.card .text-muted {
    font-size: 0.82rem
}

.card-img img {
    padding-top: 10px;
    width: inherit;
    height: 180px;
    object-fit: contain;
    display: block
}

.card-body .btn-group .btn {
    padding: 0;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 50%;
    position: relative
}

.card-body .btn-group > .btn-group:not(:last-child) > .btn, .card-body .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
    border-radius: 50%;
    transition: ease-in all .4s
}

.card-body input[type="radio"] {
    visibility: hidden
}

.card-body .btn:not(:disabled):not(.disabled).active::after, .card-body .btn:not(:disabled):not(.disabled):active::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 4px;
    left: 4.2px;
    background-color: #fff;
    position: absolute;
    transition: ease-in all .4s
}

.card-body .btn.btn-light:not(:disabled):not(.disabled).active::after, .card-body .btn.btn-light:not(:disabled):not(.disabled):active::after {
    background-color: #000
}

.del {
    text-decoration: line-through;
    color: red
}

