@model Guid

<p>Redirecting to Stripe Checkout... Please wait.</p>
<div id="spinner">Loading...</div>

<form id="stripeForm" method="post" asp-action="CreateStripeSession">
    <input type="hidden" name="orderToken" asp-for="@Model" value="@Model"/>
</form>

<script>
    setTimeout(function () {
        console.log("begin the post");
        
        document.getElementById('stripeForm').submit();
    }, 1000);
</script>