@model Guid

<p>Редиректване към Stripe... Моля изчакайте.</p>
<div id="spinner">Зареждане...</div>

<form id="stripeForm" method="post" asp-action="CreateStripeSession">
    <input type="hidden" name="orderToken" asp-for="@Model" value="@Model"/>
</form>

<script>
    setTimeout(function () {
        console.log("begin the post");
        
        document.getElementById('stripeForm').submit();
    }, 1000);
</script>