@using AutoParts_ShopAndForum.Models.Checkout
@model CheckoutModel

<div class="mb-3" id="courierAddressComp">
    <label asp-for="BoundFromPersonalReceive">Courier address</label>
    <input asp-for="BoundFromPersonalReceive" class="form-control" id="courierAddress" placeholder="Some demo text">
</div>
