<div class="container mt-5">
    <div class="text-center">
        <i class="bi bi-x-circle-fill text-danger" style="font-size: 4rem;"></i>
        <h2 class="mt-3">Вашата поръчка не беше успешно създадена.</h2>
        <p>За повече информация може да се свържете с нас!</p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Продължете да пазарувате</a>
    </div>
</div>
