@using AutoParts_ShopAndForum.Models.Checkout
@model CheckoutModel

@{
    ViewData["Title"] = "Checkout";
}

<div class="row">
    <div class="col-md-8 order-md-1">
        <h4 class="mb-4">Данни за доставка</h4>
        <form method="post">
            <div class="row">

                <div id="RadioButtonGroup">
                
                <div class="col-md-8 col-sm-12">
                    <div class="form-check">
                        <input asp-for="DeliveryMethod" value="0" type="radio" class="form-check-input" checked="checked" id="toPersonalAddress" onclick="onDeliverySetToPersonalAddress()">
                        <label class="form-check-label" for="toPersonalAddress">Доставка с куриер</label>
                    </div>
                    
                    <div class="form-check">
                        <input asp-for="DeliveryMethod" value="1" type="radio" class="form-check-input" id="toCourierAddress" onclick="onDeliverySetToCourierAddress()">
                        <label class="form-check-label" for="toCourierAddress">Лично вземане</label>
                    </div>

                </div>

                    @* <div class="col-md-6 mb-3"> *@
                    @*     <label for="firstName">First name</label> *@
                    @*     <input type="text" class="form-control" id="firstName" placeholder="" value="" required=""> *@
                    @* </div> *@
                    @* <div class="col-md-6 mb-3"> *@
                    @*     <label for="lastName">Last name</label> *@
                    @*     <input type="text" class="form-control" id="lastName" placeholder="" value="" required=""> *@
                    @* </div> *@
                    @* <div class="mb-3" id="homeAddressComp"> *@
                    @*     <label for="homeAddress">Home address</label> *@
                    @*     <input type="text" class="form-control" id="homeAddress" placeholder="1234 Main St" required=""> *@
                    @* </div> *@

                    <div class="my-2" id="courierAddressComp" style="display: none">
                        <partial name="_PersonalProductsReceive" model="@Model"/>
                    </div>

                </div>
                
            </div>

            <button class="btn btn-primary btn-lg btn-block mt-4" type="submit">Поръчай</button>
        </form>
    </div>
    <div class="col-md-4 order-md-2 mb-4">
        Right panel elements here
    </div>
</div>

@section Scripts
{
    <script>
        function onDeliverySetToPersonalAddress() {
            console.log("To home address triggered")
            
            $("#homeAddressComp").show();
            $("#courierAddressComp").hide();
        }
        
        function onDeliverySetToCourierAddress() {
            console.log("to courier address triggered")
            
            $("#courierAddressComp").show();
            $("#homeAddressComp").hide();
        }
    </script>
}
