@using AutoParts_ShopAndForum.Core.Models.Order
@using AutoParts_ShopAndForum.Models.Checkout
@model CheckoutFormModel

@{
	ViewData["Title"] = "Checkout";
}

<div class="row">
	<div class="col-md-8 order-md-1">
		<form method="post">
			<div class="card my-4">
				<partial name="_CheckoutDeliveryPartial" model="@Model"/>
			</div>
			<div class="card my-4">
				<partial name="_CheckoutInvoicePartial" model="@Model"/>
			</div>

			<div class="card my-4">
				<div class="card-header">
					<h5 class="mb-0">Данни за плащане</h5>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="form-group" id="PaymentInformation">

							<div class="d-flex gap-4 align-items-center">
								<div class="form-check">
									<input asp-for="PayWay"
									       value="@OrderPayWay.CashOnDelivery"
									       type="radio"
									       id="payWayCashOnDelivery"
									       class="form-check-input"
									       checked="checked">
									<label class="form-check-label" for="payWayCashOnDelivery">
										Наложен платеж
									</label>
								</div>

								<div class="form-check">
									<input asp-for="PayWay"
									       value="@OrderPayWay.OnlinePayment"
									       type="radio"
									       id="payWayOnline"
									       class="form-check-input">
									<label class="form-check-label" for="payWayOnline">
										Онлайн плащане чрез Stripe
									</label>
								</div>
							</div>

						</div>
					</div>
				</div>
				
				
			</div>

			<button class="btn btn-primary btn-lg btn-block mt-4" type="submit">Поръчай</button>
		</form>
	</div>
	<div class="col-md-4 order-md-2 mb-4">
		@await Component.InvokeAsync("CheckoutItems")
	</div>
</div>

@section Scripts
{
	<script src="js/checkoutDelivery.js"></script>
}
