@using AutoParts_ShopAndForum.Core.Models.Order
@using AutoParts_ShopAndForum.Models.Checkout
@model CheckoutFormModel

@{
	ViewData["Title"] = "Checkout";
}

<div class="row">
	<div class="col-md-8 order-md-1">
		<form method="post">
			<div class="card my-4">
				<partial name="_CheckoutDeliveryPartial" model="@Model"/>
			</div>
			<div class="card my-4">
				<partial name="_CheckoutInvoicePartial" model="@Model"/>
			</div>
			<div class="card my-4">
				<partial name="_CheckoutPayWayPartial" model="@Model"/>
			</div>
			<button class="btn btn-primary btn-lg btn-block mt-4" type="submit">Поръчай</button>
		</form>
	</div>
	<div class="col-md-4 order-md-2 mb-4">
		@await Component.InvokeAsync("CheckoutItems")
	</div>
</div>

@section Scripts
{
	<script src="js/checkoutDelivery.js"></script>
}
