@using AutoParts_ShopAndForum.Areas.Seller.Models

@{
    ViewData["Title"] = "Edit Product";
}

 @model ProductAddInputModel

<h1 class="text-center">
    @ViewData["Title"]
</h1>

<partial name="_ProductAddpartial" model="@Model"></partial>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}